<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">Education</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:guangyuan0802@gmail.com">email</a></li>
   <li><a href="https://sites.google.com/site/guangzhang1987/">sites.google.com/site/guangzhang</a></li>
   </ul>
  </footer>
  </body>

</html>
